<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#about">
        <img src="../../../assets/img/brand.svg" alt="" class="brand">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto w-auto" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link text-light" routerLinkActive="active" href="#about">Sobre Mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLinkActive="active" href="#projects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLinkActive="active" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
</nav>